@model IEnumerable<WordsYK.Core.Models.Word>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-md-9">
    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnTranslation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeTranslation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*can add if{utem.Umage != null later on to remove the default error image}*@
                    <img class="img-thumbnail" style="height:60px" src="~/Content/WordImages/@item.Image">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnTranslation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeTranslation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<div class="col-md-12 clearfix" />
