@using WordsYK.Core.Models;

@model Mode


<h3>@Model.Name</h3>

@if (Model.WordsToInclude != null && Model.WordsToInclude.Any() && Model.NumberOfWords > 0)
{

    <div class="col-md-12 session-page">
        <div>
            <p id="result">Result</p>
        </div>

        @for (int i = 0; i < Model.NumberOfWords; i++)
        {
            <div class="col-md-3 word-box">
                <div class="col-md-12 text-uppercase text-primary">
                    @Html.DisplayFor(model => model.WordsToInclude[i].EnTranslation)
                </div>

                <div class="col-md-12 translate-input">
                    <label for="@("answer" + i)">Translate to Swedish: </label>
                    <input id="@("answer" + i)" required pattern="@Model.WordsToInclude[i].SeTranslation">
                </div>

                <div class="col-md-12" style="padding:3px; margin:3px;">
                    <img class="img-thumbnail" style="height:200px" src="~/Content/WordImages/@Model.WordsToInclude[i].Image">
                </div>

                <div class="col-md-12" style="padding:3px; margin:3px;">
                    <button id="@("see-translation-btn" + i)" class="btn-primary">See right answer</button>
                </div>
            </div>

            // SCRIPTS SECTION START
            <script>
        var seeTranslationButton = document.getElementById("@("see-translation-btn" + i)");
        seeTranslationButton.addEventListener("click", translateToSe);

            function translateToSe() {
                seeTranslationButton.innerHTML = "@Model.WordsToInclude[i].SeTranslation";
        }
                var answerInput = document.getElementById("answer" + @i);
        var correctAnswer = "@Model.WordsToInclude[i].SeTranslation";

        console.log("answerInput in View: " + answerInput);
        console.log("correctAnswer: " + correctAnswer);

            </script>
            // END OF SCRIPTS SECTION

        }
    </div>
    <div class="col-md-12 clearfix" />

}
else
{
    <p> TODO: return to start page instead </p>
}
@Scripts.Render("~/Scripts/MyScripts/wordsession.js")
