@using WordsYK.Core.Models;

@model Mode


<h3>@Model.Name</h3>

@if (Model.WordsToInclude != null && Model.WordsToInclude.Any() && Model.NumberOfWords > 0)
{
    <div class="col-md-12 session-page">

        @for (int i = 0; i < Model.NumberOfWords; i++)
        {
        <div class="col-md-3 word-box">
            <div class="col-md-12 text-uppercase text-primary">
                @Html.DisplayFor(model => model.WordsToInclude[i].EnTranslation)
            </div>

            <div class="col-md-12" style="padding:3px; margin:3px;">
                <label for="answer">Translate to Swedish: </label>
                <input id="answer" required pattern="@Model.WordsToInclude[i].SeTranslation| @Model.WordsToInclude[i].SeTranslation">
            </div>

            <div class="col-md-12" style="padding:3px; margin:3px;">
                <img class="img-thumbnail" style="height:200px" src="~/Content/WordImages/@Model.WordsToInclude[i].Image">
            </div>

            <div class="col-md-12" style="padding:3px; margin:3px;">
                <button id="@i" class="btn-primary">See right answer</button>
            </div>

            <script>
            document.getElementById("@i").addEventListener("click", myFunction);

            function myFunction() {
                document.getElementById("@i").innerHTML = "@Model.WordsToInclude[i].SeTranslation";
            }
            </script>
        </div>
        }
    </div>

    <div class="col-md-12 clearfix" />
}
else
{
 <p> TODO: return to start page instead </p>
}
