@model WordsYK.Core.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Index";
}

<h1>WordsYK</h1>

<div class="col-md-6">
    <h4>Filter by Category</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })

        @foreach (var cat in Model.WordCategories)
        {
            @Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
        }
    </div>
</div>

<div class="col-md-6">
    <h4>Filter by Category</h4>
    @foreach (var cat in Model.WordCategories)
    {
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       name="WordCategories"
                       value="@cat.Category"
                       @if (Model.WordCategories.Contains(cat)) { <text> checked </text> } />

                @cat.Category
            </label>
        </div>
    }

</div>



<h4>How many words</h4>
<div>
    <div>
        @Html.TextBoxFor(n => n.NumberOfWords, new { @class = "form-control" })
    </div>
</div>

<div class="col-md-12 clearfix" />

@*To Create the view. Need to show all categories + ability to select them and filed with input for the number of words.
    Lastly a button to apply those changes and start the excercise (on new page) *@
